@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ro | Services</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @*<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Font Awesome -->
    @*<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">*@
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <link href="~/admin-lte/css/AdminLTE.min.css" rel="stylesheet" />
    

    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    @*<link href="~/Areas/Professional/admin-lte/plugins/iCheck/square/blue.css" rel="stylesheet" />*@

</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="#" class="h1">RO Service</a>
                <span>ViewBag.Message</span>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form >
                    <div class="row">
                        <input type="text" name="username" class="form-control" placeholder="Username">
                        <div class="input-group-append">
                            
                        </div>
                    </div>
                    <div class="row">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="row">

                        <!-- /.col -->
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-4">

                        </div>
                        <!-- /.col -->
                    </div>
                </form>


                <!-- /.social-auth-links -->


            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->

</body>
</html>
